[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/cli11"]
	path = deps/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "deps/antlr4"]
	path = deps/antlr4
	url = https://github.com/spicelang/antlr4.git
	branch = dev
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/gtest-parallel"]
	path = deps/gtest-parallel
	url = https://github.com/google/gtest-parallel.git
[submodule "deps/tpde"]
	path = deps/tpde
	url = https://github.com/tpde2/tpde.git
