# Build output
/build
/coverage
/cmake-*
spice.exe
spice

# Generated output from ANTLR
/gen

# ANTLR generator jar (downloaded by setup-libs)
/src/thirdparty/antlr-*-complete.jar

# CLion
/.idea

# Spice build outputs
/media/test-project/*
!/media/test-project/*.*
/media/test-project/*.exe

# LLVM
/llvm

# FASTBuild
*.fdb

# Zensical
docs/site
