# Build output
bin/*
spice.exe
spice

build/*
coverage/*
cmake-build-debug/*
cmake-build-release/*

# Third party libs
lib/*
gen/*

# CLion
.idea/*

# Spice build outputs
media/test-project/*
!media/test-project/*.*
media/test-project/*.exe

# LLVM
llvm