# Publish Spice
name: Release

on:
  push:
    tags:
      - '*'

env:
  LLVM_VERSION: "21.1.7"
  GCC_VERSION: "14"

jobs:
  build-compiler-linux-x86:
    name: Build compiler - Linux/x86_64
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21
          java-package: jre

      - name: Configure selected GCC version as default
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${{ env.GCC_VERSION }} 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-${{ env.GCC_VERSION }} 100
          sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-${{ env.GCC_VERSION }} 100

      - name: Setup Mold
        uses: rui314/setup-mold@v1

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1

      - name: Setup Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build uuid-dev checksec jq

      - name: Clone LLVM
        run: git clone --depth 1 --branch llvmorg-${{ env.LLVM_VERSION }} https://github.com/llvm/llvm-project llvm

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/llvm/build
          key: llvm-${{ env.LLVM_VERSION }}-linux-x64-all-targets

      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS_RELEASE="-O3" -DLLVM_TARGETS_TO_BUILD="AArch64;AMDGPU;ARM;Mips;NVPTX;PowerPC;RISCV;WebAssembly;X86" -DLLVM_ENABLE_RTTI=ON -Wno-dev -Wattributes ../llvm
          cmake --build .

      - name: Download Libs
        run: |
          chmod +x setup-libs.sh
          ./setup-libs.sh

      - name: Build compiler
        env:
          LLVM_DIR: ${{ github.workspace }}/llvm/build/lib/cmake/llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DSPICE_ALL_TARGETS=ON -DSPICE_LINK_STATIC=ON -DSPICE_LTO=ON -DSPICE_VERSION="${{ github.ref_name }}" -DSPICE_BUILT_BY="ghactions" ..
          cmake --build . --target spice

      - name: Process build output
        working-directory: build
        run: |
          mv ./src/spice spice
          chmod +x spice

      - name: Run Checksec
        working-directory: build
        run: checksec --file=./spice --output=json | jq

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: spice-linux-x64
          path: ./build/spice**

  build-compiler-linux-aarch64:
    name: Build compiler - Linux/AArch64
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21
          java-package: jre

      - name: Configure selected GCC version as default
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${{ env.GCC_VERSION }} 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-${{ env.GCC_VERSION }} 100
          sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-${{ env.GCC_VERSION }} 100

      - name: Setup Mold
        uses: rui314/setup-mold@v1

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1

      - name: Setup Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build uuid-dev checksec jq

      - name: Clone LLVM
        run: git clone --depth 1 --branch llvmorg-${{ env.LLVM_VERSION }} https://github.com/llvm/llvm-project llvm

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/llvm/build
          key: llvm-${{ env.LLVM_VERSION }}-linux-aarch64-all-targets

      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS_RELEASE="-O3" -DLLVM_TARGETS_TO_BUILD="AArch64;AMDGPU;ARM;Mips;NVPTX;PowerPC;RISCV;WebAssembly;X86" -DLLVM_ENABLE_RTTI=ON -Wno-dev -Wattributes ../llvm
          cmake --build .

      - name: Download Libs
        run: |
          chmod +x setup-libs.sh
          ./setup-libs.sh

      - name: Build compiler
        env:
          LLVM_DIR: ${{ github.workspace }}/llvm/build/lib/cmake/llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DSPICE_ALL_TARGETS=ON -DSPICE_LINK_STATIC=ON -DSPICE_LTO=ON -DSPICE_VERSION="${{ github.ref_name }}" -DSPICE_BUILT_BY="ghactions" ..
          cmake --build . --target spice

      - name: Process build output
        working-directory: build
        run: |
          mv ./src/spice spice
          chmod +x spice

      - name: Run Checksec
        working-directory: build
        run: checksec --file=./spice --output=json | jq

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: spice-linux-arm64
          path: ./build/spice**

  build-compiler-windows-x86:
    name: Build compiler - Windows/x86_64
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21
          java-package: jre

      - name: Setup latest GCC
        shell: pwsh
        run: |
          choco uninstall mingw --all-versions
          choco uninstall llvm --all-versions
          Remove-Item -Recurse -Force C:/Strawberry
          echo "Uninstalling done."
          Invoke-WebRequest https://github.com/brechtsanders/winlibs_mingw/releases/download/15.1.0posix-13.0.0-ucrt-r4/winlibs-x86_64-posix-seh-gcc-15.1.0-mingw-w64ucrt-13.0.0-r4.7z -OutFile mingw64.7z
          echo "Downloading done."
          7z x mingw64.7z -oC:\mingw64
          echo "Unpacking done."
          Copy-Item -Path C:\mingw64\mingw64\bin\mingw32-make.exe -Destination C:\mingw64\mingw64\bin\make.exe
          echo "All done."

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1

      - name: Clone LLVM
        run: git clone --depth 1 --branch llvmorg-${{ env.LLVM_VERSION }} https://github.com/llvm/llvm-project llvm

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/llvm/build
          key: llvm-${{ env.LLVM_VERSION }}-win-x64-all-targets

      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: llvm
        run: |
          setx /M PATH "%PATH%;C:\mingw64\mingw64\bin"
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
          echo "Adding MinGW to path done."
          mkdir ./build
          cd ./build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS_RELEASE="-O3" -DLLVM_TARGETS_TO_BUILD="AArch64;AMDGPU;ARM;Mips;NVPTX;PowerPC;RISCV;WebAssembly;X86" -DLLVM_ENABLE_RTTI=ON -GNinja -Wno-dev -Wattributes ../llvm
          cmake --build .

      - name: Download Libs
        run: .\setup-libs.bat

      - name: Build compiler
        env:
          LLVM_DIR: ${{ github.workspace }}/llvm/build/lib/cmake/llvm
        run: |
          setx /M PATH "%PATH%;C:\mingw64\mingw64\bin"
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
          echo "Adding MinGW to path done."
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DSPICE_ALL_TARGETS=ON -DSPICE_LINK_STATIC=ON -DSPICE_VERSION="${{ github.ref_name }}" -DSPICE_BUILT_BY="ghactions" ..
          cmake --build . --target spice

      - name: Process build output
        working-directory: build
        run: mv ./src/spice.exe spice.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: spice-windows-static-x64
          path: ./build/spice**

  build-compiler-macos-aarch64:
    name: Build compiler - MacOS/AArch64
    runs-on: macos-26

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21
          java-package: jre

      - name: Setup Mold
        uses: rui314/setup-mold@v1

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1

      - name: Clone LLVM
        run: git clone --depth 1 --branch llvmorg-${{ env.LLVM_VERSION }} https://github.com/llvm/llvm-project llvm

      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/llvm/build
          key: llvm-${{ env.LLVM_VERSION }}-macos-aarch64-all-targets

      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS_RELEASE="-O3" -DLLVM_TARGETS_TO_BUILD="AArch64;AMDGPU;ARM;Mips;NVPTX;PowerPC;RISCV;WebAssembly;X86" -DLLVM_ENABLE_RTTI=ON -Wno-dev -Wattributes ../llvm
          cmake --build .

      - name: Download Libs
        run: |
          chmod +x setup-libs.sh
          ./setup-libs.sh

      - name: Build compiler
        env:
          LLVM_DIR: ${{ github.workspace }}/llvm/build/lib/cmake/llvm
        run: |
          mkdir ./build
          cd ./build
          cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DSPICE_ALL_TARGETS=ON -DSPICE_LTO=ON -DSPICE_VERSION="${{ github.ref_name }}" -DSPICE_BUILT_BY="ghactions" ..
          cmake --build . --target spice

      - name: Process build output
        working-directory: build
        run: |
          mv ./src/spice spice
          chmod +x spice

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: spice-macos-arm64
          path: ./build/spice**

  build-artifacts:
    name: Build artifacts
    needs: [
      build-compiler-linux-x86,
      build-compiler-linux-aarch64,
      build-compiler-windows-x86,
      build-compiler-macos-aarch64
    ]
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Restore Go modules cache
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Docker login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Docker login Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: chillibits
          password: ${{ secrets.DOCKER_HUB_SECRET }}

      - name: Download all artifacts of compiler build
        uses: actions/download-artifact@v6
        with:
          path: bin

      - name: Rename compiler binaries & allow execution
        working-directory: bin
        run: |
          mv spice-windows-static-x64 spice-windows-amd64
          mv spice-linux-x64 spice-linux-amd64
          mv spice-macos-arm64 spice-darwin-arm64
          chmod -R +x ./

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2.13.0
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v6
        with:
          name: dist-output
          path: dist/

  deploy-nexus:
    name: Deploy to Nexus
    needs: build-artifacts
    runs-on: ubuntu-latest
    if: contains(github.ref, 'rc') == false
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: Download dist output
        uses: actions/download-artifact@v6
        with:
          name: dist-output

      - name: Deploy to Debian / Raspbian repo
        run: |
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/debian-trixie/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/debian-bookworm/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/debian-bullseye/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/debian-buster/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/debian-stretch/"

      - name: Deploy to Ubuntu repo
        run: |
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/ubuntu-resolute/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/ubuntu-noble/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/ubuntu-jammy/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/ubuntu-focal/"
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.deb" "${{ secrets.NEXUS_URL }}/ubuntu-bionic/"

      - name: Deploy to CentOS repo
        run: |
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --upload-file ./spice_${{ matrix.arch }}.rpm ${{ secrets.NEXUS_URL }}/centos/spice/${{ github.ref_name }}/spice-${{ matrix.arch }}.rpm

      - name: Deploy to Fedora repo
        run: |
          curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --upload-file ./spice_${{ matrix.arch }}.rpm ${{ secrets.NEXUS_URL }}/fedora/spice/${{ github.ref_name }}/spice-${{ matrix.arch }}.rpm

  #     - name: Deploy to Alpine repo
  #       run: |
  #         curl -sSf -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" -H "Content-Type: multipart/form-data" --data-binary "@./spice_${{ matrix.arch }}.apk" "${{ secrets.NEXUS_URL }}/alpine/spice/${{ github.ref_name }}/spice-${{ matrix.arch }}.apk"

  build-win-installers:
    name: Build Windows installers
    needs: build-artifacts
    runs-on: windows-latest
    strategy:
      matrix:
        config:
          - { arch: amd64, label: x64 }
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install GoMSI
        run: choco install -y go-msi

      - name: Download executables
        id: download_exe
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download "${GITHUB_REF#refs/tags/}" -p *windows_${{ matrix.config.arch }}*.zip
          printf "::set-output name=zip::%s\n" *.zip
          unzip -o *.zip && rm -v *.zip
          dir

      - name: Prepare PATH
        shell: bash
        run: |
          echo "$WIX\\bin" >> $GITHUB_PATH
          echo "C:\\Program Files\\go-msi" >> $GITHUB_PATH

      - name: Copy DLLs to source dir
        shell: bash
        env:
          ZIP_FILE: ${{ steps.download_exe.outputs.zip }}
        run: cp ./src/thirdparty/zlib1__.dll ./

      - name: Build MSI
        shell: bash
        id: build_msi
        env:
          ZIP_FILE: ${{ steps.download_exe.outputs.zip }}
        run: |
          mkdir -p build
          msi="$(basename "$ZIP_FILE" ".zip").msi"
          printf "::set-output name=msi::%s\n" "$msi"
          go-msi make --msi "$PWD/$msi" --out "$PWD/build" --version ${{ github.ref_name }}
          printf "::set-output name=msi::%s\n" *.msi

      - name: Upload MSI
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.build_msi.outputs.msi }}
          asset_name: spice_${{ matrix.config.label }}_setup.msi
          tag: ${{ github.ref }}

      - name: Deploy to WinGet
        uses: vedantmgoyal2009/winget-releaser@v2
        continue-on-error: true
        with:
          identifier: ChilliBits.Spice
          version: ${{ github.ref_name }}
          release-tag: ${{ github.ref_name }}
          token: ${{ secrets.CR_PAT }}
